/.idea/
/__pycache__/
/modules/__pycache__/
/tests/__pycache__/

/screenshots/
/logs/
/keep/
/demos/

*.log
/geckodriver.exe
/chromedriver.exe
/json/MAG133.json
/json/MAG144.json
/dist/
/check_today.spec
/build/
/reports/
/json/trop.json
