/.idea/
/__pycache__/
/modules/__pycache__/
/tests/__pycache__/

/screenshots/
/logs/
/keep/

*.log
*.spec
/geckodriver.exe
/chromedriver.exe
/yaml/MAG133.yaml
/yaml/MAG144.yaml
/dist/
/check_today.spec
/build/
/reports/
/json/trop.json
/demos/
/token.txt
